<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhanVien.Web.Data.Properties.Settings.QLNVConnectionString"
            connectionString="Data Source=TUANDQ\SQLEXPRESS;Initial Catalog=QLNV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>